input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid $color__border-input;
	@include crossBorder(0);
	padding: 0.5em 0.75em;
	width: 100%;

	@include crossTransition(all .3s);

	&:focus {
		color: $color__text-input-focus;
		border-color: #209baa;
		outline: none;
	}

	&:invalid {
		border-bottom-color: #ef1b20;
		color: #d83f3f;
	}

	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color__text-input;
		opacity: 0.7;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color__text-input;
		opacity: 0.7;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color__text-input;
		opacity: 0.7;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: $color__text-input;
		opacity: 0.7;
	}
	&::-ms-input-placeholder { /* Microsoft Edge */
		color: $color__text-input;
		opacity: 0.7;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

/* Customize the label (the container) */
label.checkbox {
	margin-top: 2.25em;
	margin-bottom: 2.25em;
  cursor: pointer;
	font-size: 0.875em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

	& .wpcf7-list-item {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}

	& input {
	  position: absolute;
	  opacity: 0;
		z-index: -1;
		&:checked ~ .checkmark {
		  background-color: #fff;
			&:after {
				display: block;
			}
		}
	}

	& .checkmark {
		margin-right: 1.5em;
		display: block;
		min-width: 2.1875em;
		width: 2.1875em;
		max-width: 2.1875em;
		min-height: 2.1875em;
		height: 2.1875em;
		max-height: 2.1875em;
		background-color: #fff;
		border: 1px solid #696969;
		@include crossBorder(2px);
		@include crossTransition(all .3s);
		&:after {
		  content: "";
		  position: absolute;
		  display: none;
			left: 11px;
			top: 12px;
			width: 9px;
			height: 14px;
			border: solid #33b7c6;
			border-width: 0 4px 4px 0;
			@include crossTransform(rotate(45deg));
			@include crossTransition(all .3s);
		}
	}

	& .wpcf7-list-item-label {
		flex: 1;
	}

	& span.wpcf7-list-item {
		margin: 0;
		text-align: left;
	}

	& span.wpcf7-not-valid-tip {
		top: 100%;
	}

	&:hover {
		& .checkmark {
		  background-color: #ccc;
		}
		& .checkmark:after {
			display: block;
			border-color: #fff;
		}
		& input:checked ~ .checkmark {
			&:after {
				display: block;
				border-color: #33b7c6;
				opacity: 0.5;
			}
		}
	}
}

.error.help-block {
	color: #ef1b20;
	font-size: 0.9em;
}

span.wpcf7-not-valid-tip {
	font-style: italic;
	font-weight: 300;
	font-size: 0.9em;
	text-align: left;
	position: absolute;
	top: 180%;
	left: 0;
	width: 100%;
	min-width: 200px;
}
