a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	@include crossTransition(all .3s);
}

.arrow-down {
	position: absolute;
	bottom: 2.15em;
	left: 50%;
	width: 2.09375em;
	height: 2.09375em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid #fff;
	z-index: 2;
	$custom-transition: background-color .3s, opacity 2s, transform 2s;
	&:hover,
	&:focus {
		background-color: rgba(0, 0, 0, 0.75);
		color: #fff;
	}
	&[data-emergence=hidden] {
		@include crossTransition(all 2s);
		@include crossTransform(translate(-50%, -3em) rotate(-45deg));
		opacity: 0;
	}
	&[data-emergence=visible] {
		@include crossTransition($custom-transition);
		@include crossTransform(translate(-50%, 0) rotate(-45deg));
		opacity: 1;
	}
}
