.main-navigation {
	padding: 0 0.9375em;
	max-width: 1230px;
	margin: auto;
	@include media-width-down(md) {
		padding-right: 0;
		padding-left: 0;
	}
	& .navbar-nav {
		margin-left: 0;
		& li {
			position: relative;
			margin: auto 0.625em;
			padding: 1.78125em 0;
			& a {
				padding: 8px;
				font-size: 0.75em;
				color: #000;
				&:hover,
				&:focus,
				&:active {
					color: $color__link-hover;
				}
			}
			&.current-menu-item {
				& a {
					color: $color__menu-active;
				}
			}
		}
		@include media-width-down(md) {
			& li {
				display: flex;
				margin-left: 0;
				margin-right: 0;
				padding-top: 0;
				padding-bottom: 0;
				& a {
					padding: 1em 1.75em;
					width: 100%;
					&:hover,
					&:focus,
					&:active {
						border-bottom: none;
						color: #fff;
						background-color: $color__link-hover;
					}
				}
				&.current-menu-item a {
					background-color: lighten($color__link-hover, 20%);
					color: #fff;
				}
			}
		}
	}
}

.site-branding {
	& .custom-logo-link {
		padding: 0.5625em 0;
		width: 10em;
		@include media-width-down(md) {
			padding: 0.5625em 0;
			width: 9.5em;
		}
		@include media-width-down(sm) {
  		width: 8.5em;
		}
		@include media-width-down(xs) {
			width: 6.4em;
		}
	}
}

#primary-nav {
	flex-basis: 100%;
	justify-content: flex-end;
  align-items: center;
	@include media-width-up(lg) {
		.navbar-expand-lg & {
			display: flex;
		}
	}
}

.btn-wrap {
	flex: 0 0 11.25em;
	align-items: center;
	justify-content: flex-end;
	@include media-width-down(md) {
		flex: 1;
		max-width: 15em;
		justify-content: space-between;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
