.hero-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include media-width-down(sm) {
    font-size: 0.9em;
  }
  @include media-width-down(xs) {
    font-size: 0.7em;
  }
  & .page-container {
    position: relative;
    height: 780px;
    & .social-menu {
      position: absolute;
      bottom: 1.5em;
      right: 15px;
      width: 100%;
      z-index: 1;
      & .social-link {
        font-size: 1.5rem;
        color: #fff;
        &:hover,
        &:focus {
          color: #fff;
        }
      }
      $custom-transition: color 0.3s, opacity 2s, transform 2s;
      @include crossTransition($custom-transition);
      &[data-emergence=hidden] {
        opacity: 0;
        @include crossTransform(translate(3em, 0));
      }
      &[data-emergence=visible] {
        opacity: 1;
        @include crossTransform(translate(0, 0));
      }
    }
    @include media-width-down(sm) {
      height: 100vh;
    }
  }
  & .big-logo {
    position: absolute;
    top: 60%;
    left: 50%;
    @include crossTransform(translate(-50%, -50%));
    width: 100%;
  }
  & .hero-content {
    position: absolute;
    top: 54.5%;
    left: 12px;
    width: 100%;
    &[data-emergence=hidden] {
      @include crossTransition(all 2s);
      opacity: 0;
      @include crossTransform(translate(0, 0));
    }
    &[data-emergence=visible] {
      @include crossTransition(all 2s);
      opacity: 1;
      @include crossTransform(translate(0, -50%));
    }
    color: #fff;
    @include media-width-down(lg) {
      font-size: 0.9em;
    }
    @include media-width-down(md) {
      font-size: 0.8em;
    }
  }
  & h1 {
    margin: 0;
    font-size: 5em;
    letter-spacing: 2.5px;
  }
  & p {
    width: 100%;
    margin: 0;
    font-size: 1.125em;
    letter-spacing: 0.65px;
    @include media-width-down(xs) {
      font-size: 2em;
    }
  }
  & .white-line {
    position: absolute;
    bottom: -0.9em;
    left: -10px;
    width: 126px;
    height: 1px;
    background-color: #fff;
    &[data-emergence=hidden] {
      @include crossTransition(all 2s);
      opacity: 0;
      @include crossTransform(translate(-100%, 0));
    }
    &[data-emergence=visible] {
      @include crossTransition(all 2s);
      opacity: 1;
      @include crossTransform(translate(0, 0));
    }
  }
}

.our-story-section {
  @include make-container;
  position: relative;
  padding-top: 11em;
  padding-bottom: 7em;

  & .img-wrap {
    position: relative;
    display: flex;
    align-items: center;
  }

  & h1.section-title {
    margin: 0;
    padding-top: 0.85em;
    position: absolute;
    top: 0;
    left: -0.75em;
    width: 5.6471em;
    height: 5.6471em;
    &[data-emergence=hidden] {
      opacity: 0;
    }
    &[data-emergence=visible] {
      @include crossTransform(translate(0, -3em));
      opacity: 1;
    }
  }
  & .line-1 {
    position: absolute;
    bottom: -1.25em;
    right: 5.5em;
    width: 59px;
    height: 1px;
    background-color: #33b8c8;
    @include crossTransition(all 2s);
    &[data-emergence=hidden] {
      opacity: 0;
      @include crossTransform(translate(+100%, 0));
    }
    &[data-emergence=visible] {
      opacity: 1;
      @include crossTransform(translate(0, 0));
    }
  }
  & .icon-group {
    position: absolute;
    top: -4em;
    right: 0.5em;
    opacity: 0.5;
    & .icon {
      margin-left: 2.5em;
      @include crossTransition(all 2s);
      &:nth-of-type(odd) {
        &[data-emergence=hidden] {
          opacity: 0;
          @include crossTransform(translate(0, -200%));
        }
        &[data-emergence=visible] {
          opacity: 1;
          @include crossTransform(translate(0, 0));
        }
      }
      &:nth-of-type(even) {
        &[data-emergence=hidden] {
          opacity: 0;
          @include crossTransform(translate(0, +200%));
        }
        &[data-emergence=visible] {
          opacity: 1;
          @include crossTransform(translate(0, 0));
        }
      }
    }
    &.bottom {
      top: auto;
      right: auto;
      bottom: -4em;
      left: 1.25em;
      & .icon {
        margin-left: 0;
        margin-right: 1.75em;
      }
    }
  }
  & .line-2 {
    position: absolute;
    top: -1.25em;
    left: -0.75em;
    width: 119px;
    height: 1px;
    background-color: #33b8c8;
    @include crossTransition(all 2s);
    &[data-emergence=hidden] {
      opacity: 0;
      @include crossTransform(translate(-100%, 0));
    }
    &[data-emergence=visible] {
      opacity: 1;
      @include crossTransform(translate(0, 0));
    }
  }
  & .block-1 {
    position: absolute;
    bottom: -1.25em;
    right: -1.25em;
    width: 91px;
    height: 91px;
    border: 2px solid #33b8c8;
    z-index: -1;
    @include crossTransition(all 2s);
    &[data-emergence=hidden] {
      opacity: 0;
      @include crossTransform(scale(2));
    }
    &[data-emergence=visible] {
      opacity: 1;
      @include crossTransform(scale(1));
    }
  }

  & h2 {
    margin-bottom: 1em;
    font-family: $font__museo-sans;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.55;
  }
  & p {
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.45;
  }
  & .big-image {
    @include crossShadow(14px 14px 38px 0 rgba(119, 119, 119, 0.16));
  }
  & .big-col {
    @include make-col-ready;
    @include make-col(718, 1230);
    & .text-block {
      padding: 4.375em 2.5em;
      max-width: 515px;
      margin-right: auto;
    }
    & .btn-blue {
      margin-top: 2.75em;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 10em;
    }
    @include media-width-down(sm) {
      @include make-col(1, 1);
      & .text-block {
        margin-right: 0;
        margin-left: auto;
      }
    }
    @include media-width-down(xs) {
      & .text-block {
        padding: 2.5em 0;
        max-width: 100%;
        margin: 0;
      }
      & img {
        text-align: center;
      }
    }
  }
  & .small-col {
    @include make-col-ready;
    @include make-col(512, 1230);
    & .text-block {
      margin-bottom: 27%;
      padding-top: 2.25em;
    }
    @include media-width-down(sm) {
      @include make-col(1, 1);
      margin-top: 4em;
      & .text-block {
        margin-bottom: 3em;
        padding-right: 4em;
      }
      & img {
        float: right;
      }
    }
    @include media-width-down(xs) {
      & .text-block {
        padding: 2.5em 0;
        max-width: 100%;
        margin: 0;
      }
      & img {
        float: none;
        text-align: center;
      }
    }
  }
}

#image-carousel {
  position: relative;
  @include media-width-down(md) {
    font-size: 0.9em;
  }
  @include media-width-down(sm) {
    font-size: 0.8em;
  }
  @include media-width-down(xs) {
    font-size: 0.7em;
  }
  & .page-container {
    position: absolute;
    top: 0;
    left: 50%;
    @include crossTransform(translateX(-50%));
    height: 100%;
    width: 100%;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
  }
  & h1 {
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    &[data-emergence=hidden] {
      @include crossTransition(all .2s);
      opacity: 0;
      @include crossTransform(translate(100%, 0));
    }
    &[data-emergence=visible] {
      @include crossTransition(all 2s);
      opacity: 1;
      @include crossTransform(translate(0, 0));
    }
  }
  & .white-line {
    position: absolute;
    top: 4.75em;
    left: -26px;
    width: 126px;
    height: 1px;
    background-color: #fff;
    &[data-emergence=hidden] {
      @include crossTransition(all .2s);
      opacity: 0;
      @include crossTransform(translate(-100%, 0));
    }
    &[data-emergence=visible] {
      @include crossTransition(all 2s);
      opacity: 1;
      @include crossTransform(translate(0, 0));
    }
  }
  & .image-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 36.4583333%;
    @include media-width-down(xl) {
      padding-bottom: 45%;
    }
    @include media-width-down(lg) {
      padding-bottom: 50%;
    }
    @include media-width-down(md) {
      padding-bottom: 60%;
    }
  }
  & .thumbnail-indicators {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    list-style: none;
    margin: 0;
    & li {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 7px;
      width: 108px;
      height: 65px;
      border: 2px solid #fff;
      @include crossTransition(all .3s);
      &:hover {
        opacity: 0.6;
      }
    }
  }
  & .carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    & .control-container {
      height: 100%;
      flex: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & .arrow-down {
  	&.carousel-prev,
  	&.carousel-next {
      position: static;
      bottom: auto;
      left: auto;
      @include crossTransform(rotate(-45deg));
  	}
  }
}

#thumbnail-carousel {
  position: absolute;
  bottom: 16px;
  left: 0;
  margin-left: -7px;
  text-align: right;
  width: 100%;
  max-width: 366px;
  &[data-emergence=hidden] {
    @include crossTransition(all .2s);
    opacity: 0;
    @include crossTransform(translate(-100%, 0));
  }
  &[data-emergence=visible] {
    @include crossTransition(all 2s);
    opacity: 1;
    @include crossTransform(translate(0, 0));
  }
  & .carousel-inner {
    width: auto;
    flex: 0 0 100%;
  }
  & .carousel-prev,
  & .carousel-next {
    display: inline-block;
    margin-left: 8px;
    padding: 8px;
    color: #fff;
    &:hover {
      opacity: 0.5;
    }
  }
}

#the-experience {
  padding-top: 6em;
  & strong {
    font-weight: 600;
  }
  & .page-container {
    position: relative;
  }
  & h1.section-title {
    max-width: 419px;
    position: absolute;
    top: 0;
    left: 37px;
    width: 100%;
    height: 221px;
    padding-top: 2em;
    font-size: 3.125em;
    &[data-emergence=hidden] {
      opacity: 0;
    }
    &[data-emergence=visible] {
      @include crossTransform(translate(0, -3.2em));
      opacity: 1;
    }
    @include media-width-down(md) {
      position: static;
      top: auto;
      left: auto;
      width: 493px;
      margin: auto;
      &[data-emergence=visible] {
        @include crossTransform(translate(0, -1em));
        opacity: 1;
      }
    }
  }
  & h2 {
    font-family: $font__museo-sans;
    font-size: 1.375em;
    font-weight: 600;
    color: #203234;
    margin-bottom: 1em;
  }
  & h3 {
    margin-bottom: 1em;
    font-family: $font__museo-sans;
    font-size: 1.125em;
    font-weight: 600;
    color: #203234;
    line-height: 1.55;
  }
  & p {
    font-size: 0.875em;
    font-weight: 300;
    color: #203234;
    line-height: 1.425;
  }
  & ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    &.two-col {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
    }
    &.yellow {
      & li:before {
        border-color: #ddd640;
      }
    }
    &.blue {
      & li:before {
        border-color: #33b8c8;
      }
    }
    & li {
      margin-bottom: 0.25em;
      padding-left: 1.75em;
      position: relative;
      font-size: 0.875em;
      &:before {
        content: '';
        position: absolute;
        top: 0.5em;
        left: 0;
        display: block;
        width: 8px;
        height: 8px;
        border-width: 2px;
        border-style: solid;
      }
    }
  }
}

.heading-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 18.22916667%;
  @include media-width-down(xl) {
    padding-bottom: 23%;
  }
  @include media-width-down(lg) {
    padding-bottom: 28%;
  }
  @include media-width-down(md) {
    padding-bottom: 32%;
  }
  @include media-width-down(sm) {
    padding-bottom: 40%;
  }
}

.intro-container {
  @include make-container;
  padding-top: 4.5em;
  @include media-width-down(md) {
    padding-top: 0;
  }
  & .row {
    margin-left: -37px;
    margin-right: -37px;
  }
  & .title-col {
    @include make-col-ready;
    flex: 0 0 493px;
    padding-right: 37px;
    padding-left: 37px;
    @include media-width-down(md) {
      @include make-col(1, 1);
    }
  }
  & .intro-col {
    @include make-col-ready;
    flex: 1;
    padding-right: 37px;
    padding-left: 37px;
    @include media-width-down(md) {
      @include make-col(1, 1);
    }
  }
}

.experience-container {
  @include make-container;
  & .row {
    margin: 6em -31px;
  }
  & .small-col {
    @include make-col-ready;
    @include make-col(545, 1262);
    padding-right: 31px;
    padding-left: 31px;
    @include media-width-down(sm) {
      @include make-col(2, 3);
    }
  }
  & .medium-col {
    @include make-col-ready;
    @include make-col(612, 1262);
    padding-top: 2.25em;
    padding-right: 31px;
    padding-left: 31px;
    @include media-width-down(sm) {
      @include make-col(1, 1);
    }
  }
  & .big-col {
    @include make-col-ready;
    @include make-col(717, 1262);
    padding-top: 2.25em;
    padding-right: 31px;
    padding-left: 31px;
    @include media-width-down(sm) {
      @include make-col(1, 1);
    }
  }
  & .huge-col {
    @include make-col-ready;
    @include make-col(987, 1262);
    padding-right: 31px;
    padding-left: 31px;
    &.padded {
      padding-top: 4.5em;
      padding-left: 6.5em;
    }
    @include media-width-down(sm) {
      @include make-col(1, 1);
      &.padded {
        padding-right: 31px;
        padding-left: 31px;
      }
    }
  }
}

#drawer-bg-overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.75);
  @include crossTransition(all .3s);
  &.open {
    display: block;
  }
}

#book-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 1600px;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  @include crossTransform(translateX(100%));
  z-index: 1000;
  @include crossTransition(all .3s);
  &.open {
    @include crossTransform(translateX(0));
  }
  & h1.section-title {
    margin: auto;
    max-width: 581px;
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    opacity: 0;
    &.visible {
      @include crossTransform(translate(0, -0.625em));
      opacity: 1;
    }
  	@include media-width-down(sm) {
  		font-size: 2.5em;
  	}
  	@include media-width-down(xs) {
  		font-size: 2em;
  	}
  }
  & p {
    max-width: 970px;
    margin: 1.75em auto 2em;
    font-size: 1.125em;
    font-weight: 600;
    color: #203234;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  & .frontdesk-frame {
    margin: 1.5em 0;
  }
  & h2 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: $font__museo-sans;
    font-size: 2.125em;
    font-weight: 600;
    color: #203234;
    text-align: center;
    text-transform: uppercase;
  }

  & .agreement-box {
    margin: 0 auto;
    padding: 0 15px 4em;
    max-width: 385px;
  }

  & .agreement-accordion {
    font-size: 1.125em;
    font-weight: 600;
    color: #1895a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .agreement-content p {
    text-align: justify;
    font-size: 0.75em;
    font-weight: 300;
  }

  & .check-agree {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & label {
      font-size: 0.875em;
      color: #203234;
    }
  }
}

#btn-close-drawer {
  position: absolute;
  top: 0.25em;
  left: 0.75em;
  font-size: 2.5em;
  color: #fff;
  @include crossTransition(all .3s);
  padding: 8px;
  cursor: pointer;
  &:hover {
    color: #33b8c8;
  }
}
