.site {
	overflow-x: hidden;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-container {
	max-width: $size__site-max;
	margin: auto;
}

.btn-container {
	text-align: center;
  padding: 0 15px 6em;
	& a {
		display: inline-block;
		margin: 0 1em 1em;
	}
}
